@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  font-size: 24px;
  font-weight: 400;
  border-radius: 50%;
  cursor: pointer;
}

/* Stopwatch List */
.stopwatch-list {
  width: 540px;
  padding: 10px;
}

.stopwatch-list-header,
.stopwatch-list-footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-new,
.button-more {
  background: #333333;
  background-color: #333333;
  box-shadow: inset 0 0 0 3px #333333, inset 0 0 0 6px #000000;
  color: #ffffff;
}

.stopwatch-item {
  padding: 20px 5px 15px 5px;
  color: white;
  font-size: 24px;
  border-bottom: 1px solid #333333;
}

/* Stopwatch */
.stopwatch {
  width: 540px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding: 200px 0;
}

.clock-time {
  font-size: 160px;
  font-weight: 300;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-start {
  background-color: #132914;
  box-shadow: inset 0 0 0 3px #132914, inset 0 0 0 6px #000000;
  color: #5aa954;
}

.button-stop {
  background-color: #2f100e;
  box-shadow: inset 0 0 0 3px #2f100e, inset 0 0 0 6px #000000;
  color: #e75444;
}

.button-lap,
.button-reset {
  background: #333333;
  background-color: #333333;
  box-shadow: inset 0 0 0 3px #333333, inset 0 0 0 6px #000000;
  color: #ffffff;
}

.lap {
  padding: 20px 5px 15px 5px;
  color: white;
  font-size: 24px;
  border-top: 1px solid #333333;
  display: flex;
  justify-content: space-between;
}

.lap-max {
  color: #e75444;
}

.lap-min {
  color: #5aa954;
}
