@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  border-radius: 50%;
  cursor: pointer;
}

.button-disabled {
  cursor: default;
  opacity: 0.5;
}